BACKEND_URL=http://72.62.8.85:3001
NEXT_PUBLIC_API_URL=/api-backend
NEXT_PUBLIC_LANDING_PAGE_URL=https://SUA-LANDING-WORDPRESS.com/express
PRISMA_STUDIO_URL=http://72.62.8.85:3001/prisma-studio/

RD_STATION_ACCESS_TOKEN=SEU_ACCESS_TOKEN_DO_RD_STATION_CRM
RD_STATION_API_TOKEN=SEU_TOKEN_ALTERNATIVO_DO_RD_STATION_CRM

RD_STATION_API_BASE_URL=https://api.rd.services/crm/v2
RD_STATION_PIPELINE_ID=ID_DO_FUNIL_PADRAO
RD_STATION_DEFAULT_STAGE_ID=ID_DA_ETAPA_INICIAL_DO_FUNIL

RD_STATION_CLIENT_ID=SEU_CLIENT_ID_DO_APP_RD
RD_STATION_CLIENT_SECRET=SEU_CLIENT_SECRET_DO_APP_RD
RD_STATION_CALLBACK_URL=https://SEU_DOMINIO.com/api/rdstation/callback
RD_STATION_REFRESH_TOKEN=SEU_REFRESH_TOKEN_DO_RD_STATION_CRM
RD_STATION_AUTH_DIALOG_URL=https://api.rd.services/auth/dialog
RD_STATION_AUTH_TOKEN_URL=https://api.rd.services/auth/token
